
<div class="untree_co-hero">
    <div class="container">
        <div class="hero-inner d-flex align-items-center">
            <div class="text">
                <div class="intro">
                    <p data-aos="fade-up" data-aos-delay="200">
                        Separated they live in.
                        Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                    </p>
                </div>
                <div class="heading">
                    <h1 data-aos="fade-up" data-aos-delay="100" class="mb-5">We are Re<strong>shape</strong>, and <strong>we shape buildings</strong>.</h1>
                    <p data-aos="fade-up" data-aos-delay="200"><a href="/AboutUs/Index" class="btn btn-primary mr-2">About us</a><a href="/Ourservices/Index" class="btn btn-secondary">Our services</a></p>
                </div>
            </div>
            <div class="img-wrap" data-aos="fadep" data-aos-delay="400" style="background-image: url('../../assets/images/hero_1.jpg');">
            </div>
        </div>
    </div>
</div>
<div class="untree_co-section-2 count-numbers">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="row row-2">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="counter" data-aos="fade-up" data-aos-delay="100">
                            <strong class="d-block number" data-number="1087">0</strong>
                            <span class="d-block caption">Number of Projects</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="counter" data-aos="fade-up" data-aos-delay="200">
                            <strong class="d-block number" data-number="57">0</strong>
                            <span class="d-block caption">Year of Experience</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="counter" data-aos="fade-up" data-aos-delay="300">
                            <strong class="d-block number" data-number="670">0</strong>
                            <span class="d-block caption">Number of Employees</span>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="counter" data-aos="fade-up" data-aos-delay="400">
                            <strong class="d-block number" data-number="900"></strong>
                            <span class="d-block caption">Number of Clients</span>
                        </div>
                    </div>
                </div>
                <div class="row row-overlap">
                    <div class="col-md-6 col-lg-6 mb-5" data-aos="fade-up">
                        <img src="../../assets/images/hero-3.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <p>Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p><a href="/AboutUs/Index" class="btn btn-primary">About us</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="untree_co-section untree_co-section-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto contents">
                <div class="row mb-5">
                    <div class="col-lg-4 mt-2" data-aos="fade-up" data-aos-delay="0">
                        <h3 class="sub-title border-bot text-black">Our services</h3>
                    </div>
                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
                        <h2 class="section-title text-black my-0 py-0 mb-3">Far far away, behind the word mountains, far from the countries</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="0">
                        <div class="service">
                            <span class="flaticon-architect-6"></span>
                            <h3><a href="#">Construction Consultation</a></h3>
                            <p>Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                            <p><a href="#" class="more">Learn more</a></p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="service">
                            <span class="flaticon-architect"></span>
                            <h3><a href="#">House Renovation</a></h3>
                            <p>Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                            <p><a href="#" class="more">Learn more</a></p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="service">
                            <span class="flaticon-architecture"></span>
                            <h3><a href="#">Planning</a></h3>
                            <p>Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                            <p><a href="#" class="more">Learn more</a></p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="0">
                        <div class="service">
                            <span class="flaticon-architect-2"></span>
                            <h3><a href="#">Interior Design</a></h3>
                            <p>Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                            <p><a href="#" class="more">Learn more</a></p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="service">
                            <span class="flaticon-architect-3"></span>
                            <h3><a href="#">Architecture</a></h3>
                            <p>Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                            <p><a href="#" class="more">Learn more</a></p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="service">
                            <span class="flaticon-architect-7"></span>
                            <h3><a href="#">Installation Works</a></h3>
                            <p>Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                            <p><a href="#" class="more">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5" data-aos="fade-up" data-aos-delay="0">
                    <div class="col-lg-4">
                        <a href="/Ourservices/Index" class="btn btn-primary">Our services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="position: relative;">
    <div class="bg-project"></div>
    <div class="bg-black d-lg-flex" data-aos="fade-up" data-aos-delay="0">
        <div class="img order-1 order-lg-2">
            <div class="owl-carousel owl-single">
                <div class="item">
                    <img src="../../assets/images/project_4.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="item">
                    <img src="../../assets/images/project_1.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="item">
                    <img src="../../assets/images/project_2.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="item">
                    <img src="../../assets/images/project_3.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="text" data-aos="fade-up" data-aos-delay="200">
            <h2 class="section-subtitle">Portfolio</h2>
            <div class="owl-single-text owl-carousel">
                <div class="item">
                    <h3 class="mb-4">Project Title One</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <ul class="list-unstyled">
                        <li></li>
                    </ul>
                    <p class="mt-5"><a href="#" class="btn btn-primary">See Case Study</a></p>
                </div>
                <div class="item">
                    <h3 class="mb-4">Project Title Two</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <ul class="list-unstyled">
                        <li></li>
                    </ul>
                    <p class="mt-5"><a href="#" class="btn btn-primary">See Case Study</a></p>
                </div>
                <div class="item">
                    <h3 class="mb-4">Project Title Three</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <ul class="list-unstyled">
                        <li></li>
                    </ul>
                    <p class="mt-5"><a href="#" class="btn btn-primary">See Case Study</a></p>
                </div>
                <div class="item">
                    <h3 class="mb-4">Project Title Four</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <ul class="list-unstyled">
                        <li></li>
                    </ul>
                    <p class="mt-5"><a href="#" class="btn btn-primary">See Case Study</a></p>
                </div>
            </div>
            <div class="owl-navigtion mt-4 d-flex align-items-center">
                <div>
                    <a href="#" class="prev js-custom-owl-prev"><span class="icon-keyboard_backspace"></span></a>
                    <a href="#" class="next js-custom-owl-next"><span class="icon-keyboard_backspace"></span></a>
                </div>
                <div class="ml-auto">
                    <span class="total-count mx-2">
                        <span class="owl-current">1</span> / <span class="owl-total"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="untree_co-section untree_co-section-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="0">
                <div class="testimonial-v2 light">
                    <img src="../../assets/images/person_1.jpg" alt="Image" class="img-fluid">
                    <blockquote>Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</blockquote>
                    <cite>
                        James Anderson
                    </cite>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                <div class="testimonial-v2 light">
                    <img src="../../assets/images/person_2.jpg" alt="Image" class="img-fluid">
                    <blockquote>Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</blockquote>
                    <cite>
                        James Anderson
                    </cite>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
                <div class="testimonial-v2 light">
                    <img src="../../assets/images/person_3.jpg" alt="Image" class="img-fluid">
                    <blockquote>Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</blockquote>
                    <cite>
                        James Anderson
                    </cite> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="untree_co-section">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="0">
                <h2 class="section-heading">Blog Posts</h2>
                <p>Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
                <div class="post-entry">
                    <a href="#" class="thumb"><img src="../../assets/images/project_1.jpg" alt="image" class="img-fluid"></a>
                    <h3><a href="#">Separated they live in</a></h3>
                    <div class="post-meta">
                        Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Architect</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <div class="post-entry">
                    <a href="#" class="thumb"><img src="../../assets/images/project_2.jpg" alt="image" class="img-fluid"></a>
                    <h3><a href="#">Separated they live in</a></h3>
                    <div class="post-meta">
                        Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Architect</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                <div class="post-entry">
                    <a href="#" class="thumb"><img src="../../assets/images/project_3.jpg" alt="image" class="img-fluid"></a>
                    <h3><a href="#">Separated they live in</a></h3>
                    <div class="post-meta">
                        Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Architect</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                <div class="post-entry">
                    <a href="#" class="thumb"><img src="../../assets/images/project_4.jpg" alt="image" class="img-fluid"></a>
                    <h3><a href="#">Separated they live in</a></h3>
                    <div class="post-meta">
                        Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Architect</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>